<!-- Section: Blog v.1 -->
<section class="my-5"> 
  <!-- Grid row -->
    <div class="row">
      <div class="col-md-1"></div>
      <!-- Grid column -->
      <div class="col-md-4">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
          <img *ngIf="document.imgUrl" class="img-fluid" [src]=document.imgUrl alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-6">

        <!-- Category -->
        <a  *ngIf="document.theme" href="#!" class="green-text">
          <h6 class="font-weight-bold mb-3">
            <i class={{themeMap.get(document.theme)}} aria-hidden="true"></i>
          {{document.theme}}</h6></a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>{{document.title}}</strong></h3>
        <div>
          <a class="btn btn-success btn-md" [routerLink]="['/document-edit/', document._id]">Edit</a>
          <a class="btn btn-danger btn-md" (click)="deleteDocument(document._id)">Delete</a>
          <a (click)="updateLikes(document._id, document)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a><span>{{document.likes}}</span>
          <a (click)="updateDislikes(document._id, document)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a><span>{{document.dislikes}}</span>
        </div>
        <!-- Excerpt -->
        <br>
        <p>{{document.body}}</p>
        <div class="badge badge-primary rounded" *ngFor="let word of document.vocabulary">
          {{word}}
        </div>
        <br>
        <div class="badge badge-success rounded" *ngFor="let phrase of document.phrases">
          {{phrase}}
        </div>
        
        <br>
        <br>
        <!-- Post data -->
        <p *ngIf="document.author && document.date">by <a><strong>{{document.author}}</strong></a>, {{document.date}}</p>

      </div>
      <div class="col-lg-1"></div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
</section>
<!-- Section: Blog v.1 -->

<!--Author box-->
<div class="author-box">
    <!--Name-->
    <h3 class="h3-responsive text-center">About author</h3>
    <hr>
    <div class="row">
        <!--Avatar-->
        <div class="col-12 col-sm-2">
            <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid rounded-circle z-depth-2">
        </div>
        <!--Author Data-->
        <div class=" col-12 col-sm-10">
            <p><strong>John Doe</strong></p>
            <div class="personal-sm">
                <a class="email-ic"><i class="fa fa-home"> </i></a>
                <a class="fb-ic"><i class="fa fa-facebook"> </i></a>
                <a class="tw-ic"><i class="fa fa-twitter"> </i></a>
                <a class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
                <a class="li-ic"><i class="fa fa-linkedin"> </i></a>
                <a class="email-ic"><i class="fa fa-envelope-o"> </i></a>
            </div>
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
            <p class="hidden-md-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse nulla quia quam veniam commodi dicta, iusto inventore. Voluptatum pariatur eveniet ea, officiis vitae praesentium beatae quas libero, esse facere.
            </p>
        </div>
    </div>
  </div>
  <!--/.Author box-->
  
  <br>
  <br>
  <!--Main wrapper-->
  <div class="comments-list text-left col-sm-10 offset-md-1">
    <div class="section-heading" *ngIf="document.comments && document.comments.length > 0">
        <h3>Comments <span class="badge blue">{{document.comments.length}}</span></h3>
    </div>
    <!--First row-->
    <div class="row" *ngIf="document.comments && document.comments.length > 0">
        <!--Content column-->
        <div class="col-sm-12 col-12" *ngFor="let comt of document.comments">
            <h4>
                <span class="user-name">{{comt.name}}</span>
                <a class="my-btn-delete" (click)="deleteComment(document, comt._id)"></a>
            </h4>
            <div class="card-data" *ngIf="comt.date">
                <ul class="pl-0 list-unstyled">
                    <li class="comment-date"><i class="fa fa-clock-o"></i> {{comt.date | date: 'shortDate'}}</li>
                </ul>
            </div>
            <p class="comment-text">{{comt.comment}}</p>
        </div>
        <!--/.Content column-->
    </div>
    <!--/.First row-->
  </div>
  <!--/.Main wrapper-->
  
  <br>
  <!--Section: Leave a reply (Logged In User)-->
  <section>
    <!--Leave a reply form-->
    <div class="reply-form col-sm-10 offset-md-1">
        <h2 class="h1 section-heading">Leave a comment </h2>
        <div class="row">
            <!--Content column-->
            <form class="col-sm-12 col-12" [formGroup]="commentForm" (ngSubmit)="onFormSubmit(document, commentForm.value)">
              <div class="md-form">
                  <input type="text" id="form1" formControlName="name" class="form-control" placeholder="Your name">
                  <textarea type="text" row=2  formControlName="comment" class="md-textarea form-control" placeholder="Your comment"></textarea>
              </div>
              <div class="text-center mx-auto">
                  <button mdbBtn color="primary" [disabled] = "!commentForm.valid" class="waves-light" mdbWavesEffect>Submit</button>
              </div>
            </form>
            <!--/.Content column-->
        </div>
    </div>
    <!--/.Leave a reply form-->
  </section>

  <br>
  <br>
  <footer class="page-footer font-small indigo">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#">blabla2.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->