<!-- Section: Blog v.1 -->
<section class="my-5"> 
  <!-- Grid row -->
    <div class="row">
      <div class="col-md-1"></div>
      <!-- Grid column -->
      <div class="col-md-4">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
          <img class="img-fluid" [src]=document.imgUrl alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-6">

        <!-- Category -->
        <a  *ngIf="document.theme" href="#!" class="green-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-heart" aria-hidden="true"></i>
          {{document.theme}}</h6></a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>{{document.title}}</strong></h3>
        <div>
          <a class="btn btn-success btn-md" [routerLink]="['/document-edit/', document._id]">Edit</a>
          <a class="btn btn-danger btn-md" (click)="deleteDocument(document._id)">Delete</a>
          
        </div>
        <!-- Excerpt -->
        <br>
        <p>{{document.body}}</p>
        <div class="badge badge-primary rounded" *ngFor="let word of document.vocabulary">
          {{word}}
        </div>
        <br>
        <div class="badge badge-success rounded" *ngFor="let phrase of document.phrases">
          {{phrase}}
        </div>
        
        <br>
        <br>
        <!-- Post data -->
        <p *ngIf="document.author && document.date">by <a><strong>{{document.author}}</strong></a>, {{document.date}}</p>

      </div>
      <div class="col-lg-1"></div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
</section>
<!-- Section: Blog v.1 -->