
<div class="col-md-6 offset-md-3">
    <div class="input-group md-form form-md form-2 pl-0">
      <input [(ngModel)]="searchTitle" class="form-control my-0 py-1 lime-border"
        type="text" placeholder="Search title goes here" aria-label="Search">
      <div class="input-group-append">
        <span class="input-group-text lime lighten-2" id="basic-text1"><i class="fa fa-search text-grey"
            aria-hidden="true"></i></span>
      </div>
    </div>
</div>

<section class="my-5" *ngFor="let document of documents | filter: searchTitle"> 
    <!-- Grid row -->
      <div class="row">
        <div class="col-md-1"></div>
        <!-- Grid column -->
        <div class="col-md-4">

          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
            <img class="img-fluid" [src]=document.imgUrl alt="Sample image">
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6">

          <!-- Category -->
          <div *ngIf="document.theme" class="green-text"><h6 class="font-weight-bold mb-3">
            <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->
            <i class={{themeMap.get(document.theme)}} aria-hidden="true"></i>
            {{document.theme}}</h6></div>
          <!-- Post title -->
            <h3 class="font-weight-bold mb-3">
              <strong>{{document.title}}</strong>
              <span>&nbsp;&nbsp;</span>
              <a (click)="deleteDocument(document._id)">
                <i class="fa fa-trash" aria-hidden="true"></i></a>
            </h3>
          <!-- Excerpt -->
          <!-- <p>{{document.brief}}...</p> -->
          <p>{{(document.body.length > 200) ? ( document.body | slice: 0: 200) : document.body}}...</p>
          <!-- Read more button -->
          <a class="btn btn-primary btn-md" [routerLink]="['/document-details/', document._id]">Read more</a>
          <a (click)="updateLikes(document._id, document)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a><span>{{document.likes}}</span>
          <a (click)="updateDislikes(document._id, document)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a><span>{{document.dislikes}}</span>
        </div>
        <div class="col-lg-1"></div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
</section>
<!-- Section: Blog v.1 -->