<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top">
  <mdb-navbar-brand><a class="navbar-brand" href="#">BlaBla2</a></mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Courses</a>
          </li>
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form mt-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
      </form>
  </links>

</mdb-navbar>

<br>
<br>
<br>
<br>

<!-- Section: Blog v.1 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Recent posts</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
    <!-- Grid row -->
    <div class="row">
      <div class="col-md-1"></div>
      <!-- Grid column -->
      <div class="col-md-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-6">
  
        <!-- Category -->
        <a href="#!" class="green-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-cutlery pr-2"></i>Psychology</h6></a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Men Buy More From Manly Men</strong></h3>
        <!-- Excerpt -->
        <p>Men buy more from manly men. Professor Otterbring defends the research. Interestingly, in later research
          we found that the effect was even greater for male customers of short stature. We think this is because the
          physically fit male we used activated the classic male competitive instinct. Shorter men just don't seem to
          trigger the same evolutionary urge to show off. Research has shown that women respond to intrasexual competition, too
          Images of stronger-looking guys caused men to prefer larger logos on clothing. This effect was driven by the shorter
          male men, not the taller ones. If you'are a company selling status-signaling luxury goods-like cars, watches, and 
          clothes-it's certainly an idea to consider. However, the tall, big person doesn't have to be an employee or even physically
          present. Photos also work. We see implications for not just retail hiring but also adversing and marketing. Manly men appear
          to influence short male shoppers the most. Though the psychological mechanism is an increased drive to compete with people
          of the same gender, retailers will have to decide whether it's a good strategic move. It could drive the sales in the short 
          run. But it might also cause the short man to leave the store feeling unhappy and not come back. Be aware of these superficial
          biases and understand how heavily they can influence consumption.
        </p>
        <p>prove their superiority, intrasexual competive behavior, elicit, evolutionary urge, show off, advantageous,
          play up their beauty, suntanning, beautification, perceive, dominant, implication, psychological, superficial
        </p>
        <!-- Post data -->
        <p>by <a><strong>Alison Beard</strong></a>, 19/08/2018</p>
        <!-- Read more button -->
        <a class="btn btn-success btn-md">Read more</a>
  
      </div>
      <div class="col-lg-1"></div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <a href="#!" class="pink-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-image pr-2"></i>Lifestyle</h6></a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
        <!-- Excerpt -->
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
        <!-- Read more button -->
        <a class="btn btn-pink btn-md mb-lg-0 mb-4">Read more</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <a href="#!" class="indigo-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-suitcase pr-2"></i>Travels</h6></a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
        <!-- Excerpt -->
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 11/08/2018</p>
        <!-- Read more button -->
        <a class="btn btn-indigo btn-md">Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.1 -->

<br>
<br>
<br>
<!--Author box-->
<div class="author-box">
  <!--Name-->
  <h3 class="h3-responsive text-center">About author</h3>
  <hr>
  <div class="row">
      <!--Avatar-->
      <div class="col-12 col-sm-2">
          <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid rounded-circle z-depth-2">
      </div>
      <!--Author Data-->
      <div class=" col-12 col-sm-10">
          <p><strong>John Doe</strong></p>
          <div class="personal-sm">
              <a class="email-ic"><i class="fa fa-home"> </i></a>
              <a class="fb-ic"><i class="fa fa-facebook"> </i></a>
              <a class="tw-ic"><i class="fa fa-twitter"> </i></a>
              <a class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
              <a class="li-ic"><i class="fa fa-linkedin"> </i></a>
              <a class="email-ic"><i class="fa fa-envelope-o"> </i></a>
          </div>
          <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
          <p class="hidden-md-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse nulla quia quam veniam commodi dicta, iusto inventore. Voluptatum pariatur eveniet ea, officiis vitae praesentium beatae quas libero, esse facere.
          </p>
      </div>
  </div>
</div>
<!--/.Author box-->

<br>
<br>
<!--Main wrapper-->
<div class="comments-list text-left">
  <div class="section-heading">
      <h3>Comments <span class="badge blue">3</span></h3>
  </div>
  <!--First row-->
  <div class="row">
      <!--Image column-->
      <div class="col-sm-2 col-12">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="avatar rounded-circle z-depth-1-half">
      </div>
      <!--/.Image column-->
      <!--Content column-->
      <div class="col-sm-10 col-12">
          <a><h3 class="user-name">John Doe</h3></a>
          <div class="card-data">
              <ul class="pl-0 list-unstyled">
                  <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
              </ul>
          </div>
          <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
      </div>
      <!--/.Content column-->
  </div>
  <!--/.First row-->
  <!--Second row-->
  <div class="row">
      <!--Image column-->
      <div class="col-sm-2 col-12">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="avatar rounded-circle z-depth-1-half">
      </div>
      <!--/.Image column-->
      <!--Content column-->
      <div class="col-sm-10 col-12">
          <a><h3 class="user-name">Marta Tev</h3></a>
          <div class="card-data">
              <ul class="pl-0 list-unstyled">
                  <li class="comment-date"><i class="fa fa-clock-o"></i> 08/10/2015</li>
              </ul>
          </div>
          <p class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
      </div>
      <!--/.Content column-->
  </div>
  <!--/.Second row-->
  <!--Third row-->
  <div class="row">
      <!--Image column-->
      <div class="col-sm-2 col-12">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="avatar rounded-circle z-depth-1-half">
      </div>
      <!--/.Image column-->
      <!--Content column-->
      <div class="col-sm-10 col-12">
          <a><h3 class="user-name">Anna Maria</h3></a>
          <div class="card-data">
              <ul class="pl-0 list-unstyled">
                  <li class="comment-date"><i class="fa fa-clock-o"></i> 17/10/2015</li>
              </ul>
          </div>
          <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia.
          </p>
      </div>
      <!--/.Content column-->
  </div>
  <!--/.Third row-->
</div>
<!--/.Main wrapper-->

<br>
<br>
<!--Section: Leave a reply (Logged In User)-->
<section>

  <!--Leave a reply form-->
  <div class="reply-form">
      <h2 class="h1 section-heading">Leave a reply </h2>
      <p class="text-center">(Logged In User)</p>

      <!--Third row-->
      <div class="row">
          <!--Image column-->
          <div class="col-sm-2 col-12">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" class="avatar rounded-circle z-depth-1-half">
          </div>
          <!--/.Image column-->

          <!--Content column-->
          <div class="col-sm-10 col-12">
              <div class="md-form">
                  <textarea type="text" id="form8" class="md-textarea form-control" mdbInputDirective></textarea>
                  <label for="form8">Your message</label>
              </div>

          </div>

          <div class="text-center mx-auto">
              <button mdbBtn color="primary" class="waves-light" mdbWavesEffect>Submit</button>
          </div>
          <!--/.Content column-->

      </div>
      <!--/.Third row-->
  </div>
  <!--/.Leave a reply form-->

</section>
<!--/Section: Leave a reply (Logged In User)-->
<br>
<br>

<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Very long link 1</a>
          </li>
          <li>
            <a href="#!">Very long link 2</a>
          </li>
          <li>
            <a href="#!">Very long link 3</a>
          </li>
          <li>
            <a href="#!">Very long link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/angular/angular-tutorial/"> blabla2.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->