
<section id="banner" class="mytop">
    <div class="inner">
      <header>
        <h1>This is Jingshan</h1>
        <p>More than A developer<br />Start the ventures here.</p>
      </header>
      <a href="#main" class="button big btn btn-primary btn-md">Learn More</a>
    </div>
  </section>

<!-- Main -->
<div id="main">

    <!-- Section -->
      <section class="wrapper style1">
        <div class="inner">
          <!-- 2 Columns -->
            <div class="flex flex-2 row">
              <div class="col-6">
                <div class="image fit">
                <img [src]=document1.imgUrl alt="" />
                </div>
              </div>
              <div class="col-6">
                <h3>{{document1.title}}</h3>
                <p>{{(document1.body.length > 300) ? ( document1.body | slice: 0: 300) : document1.body}}...</p>
                <a class="button" [routerLink]="['/document-details/', document1._id]">Learn More</a>
              </div>
            </div>
        </div>
      </section>

    <!-- Section -->
      <section class="wrapper style2">
        <div class="inner">
          <div class="flex flex-2 row">
            <div class="col-6">
              <h3>{{document2.title}}</h3>
              <p>{{(document2.body.length > 300) ? ( document2.body | slice: 0: 300) : document2.body}}...</p>
              <a class="button" [routerLink]="['/document-details/', document2._id]">Learn More</a>
            </div>
            <div class="col-6">
              <div class="image fit">
                <img [src]=document2.imgUrl alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Section -->
      <section class="wrapper style1">
          <div class="inner">
            <header class="align-center">
              <h2>Resources Pool</h2>
              <p>This is where I learned and get inspired...</p>
            </header>
            <div class="row">
              <div class="col-sm align-center">
                <div class="image round fit">
                  <img src="../../assets/images/hbr_400x400.jpg" alt="" />
                </div>
                <p>Harvard Business Review</p>
                <a href="https://hbr.org/" target="_blank" class="button">Learn More</a>
              </div>
              <div class="col-sm align-center">
                <div class="image round fit">
                  <img src="../../assets/images/wired.png" alt="" />
                </div>
                <p>Wired</p>
                <a href="https://www.wired.com/" target="_blank" class="button">Learn More</a>
              </div>
              <div class="col-sm align-center">
                <div class="image round fit">
                  <img src="../../assets/images/entrepreneur.png" alt="" />
                </div>
                <p>Entrepreneur Magazine</p>
                <a href="https://www.entrepreneur.com/" target="_blank" class="button">Learn More</a>
              </div>
            </div>
          </div>
        </section>
  </div>

  	<!-- Footer -->
    <footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					<p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>